.create-product-form {
  .ant-select-selection__choice {
    border-radius: 50px;
    border: none;
    background-color: #41d2b1;
    color: white;
    font-weight: 500;
  }
  .anticon-close,
  .ant-select-remove-icon {
    color: white;
  }
}
.btn-remove-sku {
  border: none;
  color: #ce5652;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  background-color: transparent;
  cursor: pointer;
}
