.btn-accept,
.btn-edit,
.btn-remove-refuse,
.btn-disable-enable {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.btn-disable-enable {
  color: #1464b4;
}
.btn-remove-refuse {
  color: #ce5652;
}
.btn-accept {
  color: #5faa9b;
}
.table-channel-products {
  .ant-checkbox-wrapper-disabled {
    display: none;
  }
}
