.content-client-data {
  margin-bottom: 0;
  background-image: linear-gradient(#fff, #f2f9ff);
  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #324d81;
  }
  .personal-info,
  .address-info {
    color: white;
  }
  .label-info {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
}
.card-order-data {
  height: 200px;
  margin-right: 20px;
  background-image: -webkit-linear-gradient(#5ed4e0, #60bbea);
  border-radius: 16px;
  border: none;
}
.payment-data {
  h3 {
    color: #324d78;
  }
  h3::after {
    content: '';
    bottom: 10px;
    display: block;
    width: 62px;
    border-radius: 50px;
    border-bottom: 2px solid #232527;
  }
  .payment-status {
    text-transform: uppercase;
    font-size: 14px;
    color: #6cbaab;
    font-weight: 400;
  }
  .payment-method {
    > span,
    > p {
      text-transform: uppercase;
      font-size: 13.4px;
    }
    > span {
      color: #0d0d0d;
      font-weight: 640;
    }
    > p {
      color: #7e7b7b;
      font-weight: 200;
    }
    > p::after {
      content: '';
      padding: 8px;
      display: block;
      width: 50%;
      border-bottom: 2px dashed #e7e8e9;
    }
  }
  .prices {
    .freight-label,
    .total-label {
      color: #0d0d0d;
      font-weight: 640;
      text-transform: uppercase;
      font-size: 13.4px;
    }
  }
  .total-value {
    font-weight: 700;
    font-size: 17px;
    color: #0d0d0d;
  }
}
.btn-prev {
  margin-left: -26px;
  box-shadow: 0 2px 4px rgba(0, 21, 41, 0.08);
}
.btn-next {
  margin-right: -26px;
  box-shadow: 0 2px 4px rgba(0, 21, 41, 0.08);
}
