.synchronize-container {
  border-left: 3px solid #54bda4;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  .divider {
    height: 60px;
  }

  .synchronize-description {
    color: #54B9A1;
    font-weight: 500;
    text-align: center;
  }
  .sub-description {
    margin-top: 3px;
    color: #B7B8B5;
    width: 200px;
    text-align: center;
    font-size: 13px;
  }
  .btn-synchronize-all,
  .btn-synchronize {
    border-radius: 100px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
  }
  .btn-synchronize-all {
    margin-top: 10px;
    border: 1.5px solid #54bda4;
    color: #54bda4;
  }
  .btn-synchronize {
    border: 1.5px solid #C3C3C3;
    padding: 0px 15px;
    color: #C3C3C3;
    font-weight: 500;
  }
  .amount-total {
      font-weight: 600;
      color: #9C9A9B;
  }
  .label-amount {
      text-transform: uppercase;
      color: #B1B1B1;
      font-size: 13.4px;
      font-weight: 430;
  }
  .selected-amount {
      color: #4DBA9D;
      font-weight: 600;
      font-size: 25px;
  }
  .label-selected {
      text-transform: uppercase;
      font-size: 12px;
      color: #54bda4;
      font-weight: 430;
  }
}
