@import '~antd/lib/style/themes/default.less';

.public-page {
  align-items: center;
  height: 100vh;

  .public-logo {
    margin-bottom: 5%;
  }

  .logo-container,
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-form-item {
      margin-bottom: 5px;
    }
  }

  @media (max-width: 767px) {
    .public-logo {
      margin-bottom: 0px;
      transform: scale(0.4);
    }
    .logo-container {
      padding: 5px;
      background-image: linear-gradient(#1bc2dd, #27609b);
    }
    .form-container {
      align-items: flex-start;
      background: #fff;
      height: 100vh;
    }
  }

  @media (min-width: 768px) {
    .ant-layout {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('../../../../assets/img/bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
    .ant-layout-content {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .form-container {
      padding-left: 55px;
    }
    .form-field {
      label {
        color: #707070;
      }
    }
  }
}
